@use '@variables' as *;

:host {
    width: 100%;
}

.resumes-table-container {
    height: calc(100vh - $app-header-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2vw 0 2vw;
}

.resumes-table-toolbar {
    height: $app-header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.resumes-table {
    height: calc(100% - 2 * $app-header-height);
    overflow-y: auto;
    table {
        height: auto;
    }
}

.resumes-table-paginator {
    height: $app-header-height;
}

.table-row {
    cursor: pointer;
}
