mat-form-field {
    width: 100%;
}

.field-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.color-swatch {
    height: 30px;
    width: 60px;
    border-radius: 5px;
}
