mat-form-field {
    width: 100%;
}

.field-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-wrapper {
    width: 50%;
    margin-right: 20px;
}

.color-swatch {
    height: 30px;
    width: 40px;
    border-radius: 10px;
    margin-right: 15px;
}

.color-option {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.search-bar {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--mat-sys-inverse-on-surface);
    .mdc-list-item__primary-text {
        width: 100%;
    }

}

.search-bar:hover {
    background-color: var(--mat-sys-inverse-on-surface);
}

.hue-slider-wrapper {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    mat-slider {
        width: 100%;
    }
}

.hue-gradient {
    position: absolute;
    height: 10px;
    width: 100%;
    background: linear-gradient(
        to right,
        hsl(0 100% 50%),
        hsl(60 100% 50%),
        hsl(120 100% 50%),
        hsl(180 100% 50%),
        hsl(240 100% 50%),
        hsl(300 100% 50%),
        hsl(360 100% 50%)
    );
}
