<mat-toolbar><h2>Schedule a Meeting</h2></mat-toolbar>
<mat-dialog-content>
    <form [formGroup]="form" class="modal-form">
        <formly-form
            [form]="form"
            [fields]="fields"
            [model]="model"
        ></formly-form>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton="outlined" mat-dialog-close>Cancel</button>
    <button
        matButton="filled"
        color="primary"
        [disabled]="form.invalid || isSubmitting()"
        (click)="submit()"
    >
        @if (isSubmitting()) {
            <mat-spinner [diameter]="18"></mat-spinner>
        } @else {
            Send Request
        }
    </button>
</mat-dialog-actions>
