<div class="controls">
    <mat-button-toggle-group
        [value]="gridSize()"
        (change)="onGridChange($event)"
        hideSingleSelectionIndicator
    >
        @for (size of gridOptions; track size) {
            <mat-button-toggle [value]="size">{{ size }}×{{ size }}</mat-button-toggle>
        }
    </mat-button-toggle-group>

    <div class="image-selector">
        <button mat-icon-button [disabled]="imageCount <= 1" (click)="prevImage()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <span class="image-counter">{{ imageIndex() + 1 }} / {{ imageCount }}</span>
        <button mat-icon-button [disabled]="imageCount <= 1" (click)="nextImage()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>

    <button mat-stroked-button (click)="newGame()">New Game</button>

    <span class="move-count">Moves: {{ moveCount() }}</span>
</div>

<div
    class="grid"
    [style.grid-template-columns]="'repeat(' + gridSize() + ', 1fr)'"
>
    @for (tile of tiles(); track $index; let i = $index) {
        @if (tile !== null) {
            <div
                class="tile"
                [style]="getTileStyle(tile)"
                (click)="onTileClick(i)"
            ></div>
        } @else {
            <div class="tile blank"></div>
        }
    }
</div>

@if (isSolved()) {
    <div class="solved-banner">
        Solved in {{ moveCount() }} moves!
    </div>
}
