@use '@variables' as *;

.welcome-container {
    height: calc(100vh - $app-header-height);
    overflow-y: auto;
}

.welcome-card {
    position: sticky;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.welcome-card:not(:last-child) {
    margin-bottom: 100px;
}

.welcome-text {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    max-width: 80%;
    text-align: center;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    font-size: 60px;
    color: white;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px  1px 0 black,
        1px  1px 0 black;
}

.contact-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--mat-sys-surface-bright);

    .profile-picture {
        background-color: gray;
        width: 350px;
        height: 350px;
    }

    .contact-buttons {
        margin-top: 30px;
        button:not(:last-child) {
            margin-right: 10px;
        }
    }
}
