<div class="welcome-container">
    @for (card of welcomeCards; track card) {
        <div [ngStyle]="getBackground(card)" class="page outlined-text">
            <div class="welcome-text">{{ card.text }}</div>
        </div>
    }

    <div class="page">
        <div class="contact-section">
            <div class="profile-picture"></div>
            <div class="contact-buttons">
                <button
                    matButton="outlined"
                    color="primary"
                    (click)="viewSocial('github')"
                >
                    Github
                </button>
                <button
                    matButton="outlined"
                    color="primary"
                    (click)="viewSocial('linkedin')"
                >
                    LinkedIn
                </button>
                <button matButton="filled" color="primary" (click)="viewResume()">
                    View Resume
                </button>
            </div>
        </div>
    </div>
</div>

