<div class="resume-editor-container">
    <div class="resume-editor-header">
        <div class="header-buttons">
            <button matIconButton (click)="exit()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            @if (resume()?.isNew || resumeHasChanged) {
                <button
                    matButton="filled"
                    color="primary"
                    (click)="saveResume.emit(resume()!)"
                >
                    Save
                </button>
            }
            @if (resumeHasChanged) {
                <button
                    matButton="outlined"
                    color="primary"
                    (click)="cancelChanges()"
                >
                    Cancel
                </button>
            }
            @if (showAddSection) {
                <button
                    matButton="outlined"
                    color="primary"
                    [matMenuTriggerFor]="sectionsMenu"
                >
                    Add Section
                </button>
                <mat-menu #sectionsMenu="matMenu">
                    @for (section of unusedSections; track section) {
                        <button mat-menu-item (click)="addSection(section)">
                            {{ section }}
                        </button>
                    }
                </mat-menu>
            }
        </div>
        <div>
            <button
                matIconButton
                (click)="viewResume.emit(resume()!)"
                matTooltip="View Resume"
            >
                <mat-icon class="material-icons-outlined">
                    pageview
                </mat-icon>
            </button>
            <button
                matIconButton
                (click)="downloadResume.emit(resume()!)"
                matTooltip="Download Resume"
            >
                <mat-icon class="material-icons-outlined">
                    download
                </mat-icon>
            </button>
            <button
                matIconButton
                (click)="onDeleteResume()"
                matTooltip="Delete Resume"
            >
                <mat-icon class="material-icons-outlined">delete</mat-icon>
            </button>
        </div>
    </div>
    <div class="resume-editor">
        <mat-accordion>
            <div>
                <mat-expansion-panel expanded="true">
                    <mat-expansion-panel-header>
                        <span>Settings</span>
                    </mat-expansion-panel-header>
                    <resume-section-form
                        [resume]="resume()!"
                        [fields]="settingsFields"
                    ></resume-section-form>
                </mat-expansion-panel>
            </div>
            <div>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span>Profile</span>
                    </mat-expansion-panel-header>
                    <profile-form
                        [profile]="resume()?.profile"
                    ></profile-form>
                </mat-expansion-panel>
            </div>
            <div cdkDropList (cdkDropListDropped)="moveSection($event)">
                @for (section of resume()?.sections; track section) {
                    <div cdkDrag>
                        <mat-expansion-panel [attr.id]="section">
                            <mat-expansion-panel-header>
                                <div class="section-controls">
                                    <mat-icon
                                        cdkDragHandle
                                        matTooltip="Move Section"
                                    >drag_handle</mat-icon>
                                    <button
                                        matButton
                                        matTooltip="Remove Section"
                                        (click)="removeSection(section)"
                                    >
                                        <mat-icon>remove_circle_outline</mat-icon>
                                    </button>
                                </div>
                                <span class="movable-panel-header">{{ section }}</span>
                            </mat-expansion-panel-header>
                            @if (section === SectionType.Summary) {
                                <resume-section-form
                                    [resume]="resume()!"
                                    [fields]="summaryFields"
                                ></resume-section-form>
                            }
                            @if (section === SectionType.Skills) {
                                <resume-section-form
                                    [resume]="resume()!"
                                    [fields]="skillsFields"
                                ></resume-section-form>
                            }
                            @if (section === SectionType.Experience) {
                                <resume-section-form
                                    [resume]="resume()!"
                                    [fields]="experienceFields"
                                ></resume-section-form>
                            }
                            @if (section === SectionType.Education) {
                                <resume-section-form
                                    [resume]="resume()!"
                                    [fields]="educationFields"
                                ></resume-section-form>
                            }
                        </mat-expansion-panel>
                    </div>
                }
            </div>
        </mat-accordion>
    </div>
</div>
