@use '@variables' as *;
@use '@colors' as *;

.resume-editor-container {
    display: flex;
    flex-direction: column;
    height: $app-content-height;
}

.resume-editor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75vw;
    height: $app-header-height;
}

.resume-editor {
    flex-grow: 1;
    overflow: auto;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.movable-panel-header {
    margin-right: 88px;
}

mat-expansion-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
    }
}

.section-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}