<mat-dialog-content>
    {{ message }}
</mat-dialog-content>
<mat-dialog-actions>
    @if (cancelLabel) {
        <button matButton="outlined" (click)="close(Result.Cancel)">
            {{ cancelLabel }}
        </button>
    }
    @if (alternateLabel) {
        <button matButton="outlined" (click)="close(Result.Alternate)">
            {{ alternateLabel }}
        </button>
    }
    <button matButton="filled" color="primary" (click)="close(Result.Confirm)">
        {{ confirmLabel }}
    </button>
</mat-dialog-actions>
