<mat-dialog-content>
    <form [formGroup]="form">
        <formly-form
            [form]="form"
            [fields]="fields"
            [model]="jobApplication()"
        ></formly-form>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton="outlined" (click)="close()">Cancel</button>
    @if (hasChanged) {
        <button
            matButton="filled"
            color="primary"
            (click)="submit()"
        >
            {{ submitLabel }}
        </button>
    }
</mat-dialog-actions>
