@use '@variables' as *;

.app-header-container {
    max-width: 100%;
    height: $app-header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.page-title {
    font: var(--mat-sys-headline-medium);
}

.profile-picture {
    border-radius: 50%;
    border: 1px solid vars(--mat-sys-outline);
}
