<div class="app-header-container">
    <button matIconButton color="primary" (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>{{ title() }}</h1>
    <button matIconButton color="primary" [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <div class="user-menu-container">
            @if (isAuthenticated$ | async) {
                <button
                    mat-menu-item
                    (click)="openUserModal(UserModalView.Profile)"
                >
                    Profile
                </button>
                <button
                    mat-menu-item
                    (click)="openUserModal(UserModalView.Settings)"
                >
                    Settings
                </button>
                <button mat-menu-item (click)="logout()">Log Out</button>
            } @else {
                <button mat-menu-item (click)="signup()">Sign Up</button>
                <button mat-menu-item (click)="login()">Log In</button>
            }
        </div>
    </mat-menu>
</div>
