<mat-toolbar class="app-header-container">
    <button matIconButton (click)="toggleSidenav.emit()">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="page-title">{{ title() }}</span>
    <button matIconButton [matMenuTriggerFor]="userMenu">
        @if (profilePictureUrl) {
            <!-- <img
                [src]="profilePictureUrl"
                alt="Profile Picture"
                class="profile-picture"
                height="40"
                width="40"
            /> -->
            <mat-icon>circle</mat-icon>
        } @else {
            <mat-icon>account_circle</mat-icon>
        }
    </button>
    <mat-menu #userMenu="matMenu">
        <div class="user-menu-container">
            @if (isAuthenticated$ | async) {
                <button
                    mat-menu-item
                    (click)="openUserModal(UserModalView.Profile)"
                >
                    Profile
                </button>
                <button
                    mat-menu-item
                    (click)="openUserModal(UserModalView.Settings)"
                >
                    Settings
                </button>
                <button mat-menu-item (click)="logout()">Log Out</button>
            } @else {
                <button
                    mat-menu-item
                    (click)="openUserModal(UserModalView.Settings, false)"
                >
                    Settings
                </button>
                <button mat-menu-item (click)="signup()">Sign Up</button>
                <button mat-menu-item (click)="login()">Log In</button>
            }
        </div>
    </mat-menu>
</mat-toolbar>
