<app-header
    [sidenavOpen]="sidenavOpen"
    [activeRouteTitle]="activeRouteTitle"
></app-header>
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sidenavOpen()">
        <div class="nav-container">
            @for (route of navigableRoutes; track route.path) {
                <button mat-button (click)="onNavClick(route)">
                    {{ route.title }}
                </button>
            }
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content-container">
            <router-outlet />
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
