<app-header
    (toggleSidenav)="toggleSidenav()"
    [title]="title"
></app-header>
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sidenavOpen">
        <div class="nav-container">
            @for (route of sidenavRoutes; track route.path) {
                <button matButton (click)="onNavClick(route)">
                    {{ route.title }}
                </button>
            }
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content-container">
            <router-outlet />
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
