@use '@variables' as *;

.nav-container {
    display: flex;
    flex-direction: column;
    height: $app-content-height;
    button {
        margin-top: 10px;
    }
}

.content-container {
    height: $app-content-height;
}

.mat-sidenav-content {
    overflow: hidden;
}

mat-nav-list a[mat-list-item] {
    text-align: center;
}
