<div class="field-container">
    @if (props['expand'] === 'all') {
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div class="label-container" (click)="$event.stopPropagation()">
                    @if (props.label) {
                        {{ props.label }}
                    }
                    <button matButton (click)="add()">
                        <mat-icon>add_circle_outline</mat-icon>
                        {{ props['addText'] }}
                    </button>
                </div>
            </mat-expansion-panel-header>
            @for (field of field.fieldGroup; track field) {
                <div class="repeat-section-container">
                    <formly-field [field]="field"></formly-field>
                    <button
                        matButton
                        [matTooltip]="props['removeText']"
                        (click)="remove($index)"
                    ><mat-icon>remove_circle_outline</mat-icon></button>
                </div>
            }
        </mat-expansion-panel>
    } @else if (props['expand'] === 'each') {
        <div class="label-container">
            @if (props.label) {
                {{ props.label }}
            }
            <button matButton (click)="add()">
                <mat-icon>add_circle_outline</mat-icon>
                {{ props['addText'] }}
            </button>
        </div>
        @for (field of field.fieldGroup; track field) {
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <div class="label-container">
                        <button
                            matButton
                            (click)="remove($index)"
                        >
                            <mat-icon
                                [matTooltip]="props['removeText']"
                                matTooltipClass="tooltip-border"
                            >
                                remove_circle_outline
                            </mat-icon>
                        </button>
                        {{ getSubsectionLabel($index) }}
                    </div>
                </mat-expansion-panel-header>
                <div class="repeat-section-container">
                    <formly-field [field]="field"></formly-field>
                </div>
            </mat-expansion-panel>
        }
    } @else {
        <div class="label-container">
            @if (props.label) {
                {{ props.label }}
            }
            <button matButton (click)="add()">
                <mat-icon>add_circle_outline</mat-icon>
                {{ props['addText'] }}
            </button>
        </div>
        @for (field of field.fieldGroup; track field) {
            <div class="repeat-section-container">
                <button
                    matButton
                    [matTooltip]="props['removeText']"
                    matTooltipClass="tooltip-border"
                    (click)="remove($index)"
                ><mat-icon>remove_circle_outline</mat-icon></button>
                <formly-field [field]="field"></formly-field>
            </div>
        }
    }
</div>
