<div class="field-container">
    @if (props['expand'] === 'all') {
        <mat-expansion-panel [disabled]="disableExpansion">
            <mat-expansion-panel-header>
                <div class="label-container" (click)="$event.stopPropagation()">
                    @if (props.label) {
                        {{ props.label }}
                    }
                    <button matButton (click)="add()">
                        <mat-icon>add_circle_outline</mat-icon>
                        {{ addText }}
                    </button>
                </div>
            </mat-expansion-panel-header>
            <div cdkDropList (cdkDropListDropped)="moveField($event)">
                @for (field of field.fieldGroup; track field.key) {
                    <div cdkDrag>
                        <div class="repeat-section-container">
                            <mat-icon cdkDragHandle [matTooltip]="dragText">
                                drag_handle
                            </mat-icon>
                            <button
                                matIconButton
                                [matTooltip]="removeText"
                                (click)="remove($index)"
                            >
                                <mat-icon>remove_circle_outline</mat-icon>
                            </button>
                            <formly-field [field]="field"></formly-field>
                        </div>
                    </div>
                }
            </div>
        </mat-expansion-panel>
    } @else if (props['expand'] === 'each') {
        <div class="label-container">
            @if (props.label) {
                {{ props.label }}
            }
            <button matButton (click)="add()">
                <mat-icon>add_circle_outline</mat-icon>
                {{ addText }}
            </button>
        </div>
        <div cdkDropList (cdkDropListDropped)="moveField($event)">
            @for (field of field.fieldGroup; track field.key) {
                <div cdkDrag>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <div class="label-container">
                                <mat-icon cdkDragHandle [matTooltip]="dragText"
                                    >drag_handle</mat-icon
                                >
                                <button matIconButton (click)="remove($index)">
                                    <mat-icon [matTooltip]="removeText">
                                        remove_circle_outline
                                    </mat-icon>
                                </button>
                                {{ getSubsectionLabel($index) }}
                            </div>
                        </mat-expansion-panel-header>
                        <div class="repeat-section-container">
                            <formly-field [field]="field"></formly-field>
                        </div>
                    </mat-expansion-panel>
                </div>
            }
        </div>
    } @else {
        <div class="label-container">
            @if (props.label) {
                {{ props.label }}
            }
            <button matButton (click)="add()">
                <mat-icon>add_circle_outline</mat-icon>
                {{ addText }}
            </button>
        </div>
        <div cdkDropList (cdkDropListDropped)="moveField($event)">
            @for (field of field.fieldGroup; track field.key) {
                <div cdkDrag>
                    <div class="repeat-section-container">
                        <mat-icon cdkDragHandle [matTooltip]="dragText"
                            >drag_handle</mat-icon
                        >
                        <button
                            matIconButton
                            [matTooltip]="removeText"
                            (click)="remove($index)"
                        >
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        <formly-field [field]="field"></formly-field>
                    </div>
                </div>
            }
        </div>
    }
</div>
