<mat-dialog-content>
    <mat-tab-group [selectedIndex]="selectedTab()">
        <mat-tab label="Profile">
            <profile-form
                [profile]="profile()"
            ></profile-form>
        </mat-tab>
        <mat-tab label="Settings">
            <!-- Settings Content -->
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    @if (profileHasChanges) {
        <button matButton (click)="revertProfileChanges()">
            Cancel
        </button>
        <button matButton (click)="submitProfile()">
            Save
        </button>
    }
</mat-dialog-actions>