@use '@variables' as *;

.flip-book-container {
    margin-top: 30px;
    width: 64vh;
    height: 83.2vh;
}

.front-cover-container, .back-cover-container, .page-container {
    position: absolute;
    perspective: 3000px;
    transform-style: preserve-3d;
    width: 64vh;
    height: 83.2vh;
    img {
        max-width: 100%;
        height: auto;
    }
    will-change: transform;
}

.front-cover, .back-cover {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform-origin: left center;
}

.front-cover, .back-cover, .page {
    cursor: pointer;
}


.back-cover {
    img, .back-cover-buttons {
        position: absolute;
    }

    .back-cover-buttons {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.front-cover.open {
    transform-origin: left center;
    animation-name: open-front-cover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.front-cover--outer-face {
    transform: rotateY(0deg);
}

.front-cover--inner-face {
    transform-origin: left center;
    transform: rotateY(-180deg) translateX(-64vh);
}

.back-cover.open, .page.open {
    transform: translateX(32vh);
    transition-duration: 0.5s;
}

.page {
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}

.page.flipped {
    animation-name: flip-page;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.page.reverse-flip {
    animation-name: flip-page;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.page--back-face {
    transform-origin: left center;
    transform: rotateY(-180deg) translateX(-64vh);
}

@keyframes open-front-cover {
    0% {
        transform: translateX(0) rotateY(0deg);
    }

    50% {
        transform: translateX(32vh) rotateY(0deg);
    }

    100% {
        transform: translateX(32vh) rotateY(-180deg);
    }
}

@keyframes flip-page {
    0% {
        transform: rotateY(0deg) translateX(32vh);
    }

    100% {
        transform: rotateY(-180deg) translateX(32vh);
    }
}

[class*="-face"] {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
