@use '@angular/material' as mat;

@use './app/styles/variables.scss' as *;
@use './app/styles/colors.scss' as *;

:root {
    @include mat.sidenav-overrides((
        container-width: $app-sidenav-width,
        container-divider-color: $frame-color-light
    ));
}

body {
    margin: 0;
    overflow: hidden;
}
