@use '@angular/material' as mat;

@use './app/styles/variables.scss' as *;
@use './app/styles/helpers.scss';

:root {
    @include mat.sidenav-overrides((
        container-width: $app-sidenav-width,
        container-shape: 0,
        container-divider-color: var(--mat-sys-outline-variant),
        container-background-color: var(--mat-sys-primary-container),
        content-background-color: var(--mat-sys-surface-bright),
    ));
    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-primary-container),
    ))
}

body {
    margin: 0;
    overflow: hidden;
}
