@use '@angular/material' as mat;

@use './app/styles/variables.scss' as *;
@use './app/styles/helpers.scss';

:root {
    @include mat.sidenav-overrides((
        container-width: $app-sidenav-width,
        container-divider-color: var(--mat-sys-outline-variant),
    ));
}

body {
    margin: 0;
    overflow: hidden;
}
