@use '@angular/material' as mat;

@use './app/styles/variables.scss' as *;
@use './app/styles/helpers.scss';

:root {
    @include mat.sidenav-overrides((
        container-width: $app-sidenav-width,
        container-shape: 0,
        container-divider-color: var(--mat-sys-outline-variant),
        container-background-color: var(--mat-sys-inverse-on-surface),
        content-background-color: var(--mat-sys-surface-bright),
    ));
    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-primary-container),
    ));
    @include mat.checkbox-overrides((
        selected-focus-icon-color: var(--mat-sys-tertiary),
        selected-focus-state-layer-color: var(--mat-sys-tertiary),
        selected-hover-icon-color: var(--mat-sys-tertiary),
        selected-hover-state-layer-color: var(--mat-sys-tertiary),
        selected-icon-color: var(--mat-sys-tertiary),
        selected-pressed-icon-color: var(--mat-sys-tertiary),
        selected-pressed-state-layer-color: var(--mat-sys-tertiary),
        unselected-focus-state-layer-color: var(--mat-sys-tertiary),
        unselected-hover-state-layer-color: var(--mat-sys-tertiary),
        unselected-pressed-state-layer-color: var(--mat-sys-tertiary),
    ));
    @include mat.icon-overrides((
        color: var(--mat-sys-primary),
    ));
}

color-picker {
    @include mat.slider-overrides((
        handle-color: var(--mat-sys-outline),
        hover-handle-color: var(--mat-sys-on-surface-variant),
        focus-handle-color: var(--mat-sys-on-surface-variant),
        active-track-color: transparent,
        disabled-active-track-color: transparent,
        disabled-inactive-track-color: transparent,
        inactive-track-color: transparent,
    ));
}
.cdk-overlay-container .color-options-panel {
    width: 50%;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: var(--mat-sys-body-large-font);
}
