@use '@angular/material' as mat;

@use './app/styles/variables.scss' as *;
@use './app/styles/helpers.scss';

:root {
    @include mat.sidenav-overrides((
        container-width: $app-sidenav-width,
        container-shape: 0,
        container-divider-color: var(--mat-sys-outline-variant),
        container-background-color: var(--mat-sys-primary-container),
        content-background-color: var(--mat-sys-inverse-on-surface),
    ));
    @include mat.checkbox-overrides((
        selected-focus-icon-color: var(--mat-sys-tertiary),
        selected-focus-state-layer-color: var(--mat-sys-tertiary),
        selected-hover-icon-color: var(--mat-sys-tertiary),
        selected-hover-state-layer-color: var(--mat-sys-tertiary),
        selected-icon-color: var(--mat-sys-tertiary),
        selected-pressed-icon-color: var(--mat-sys-tertiary),
        selected-pressed-state-layer-color: var(--mat-sys-tertiary),
        unselected-focus-state-layer-color: var(--mat-sys-tertiary),
        unselected-hover-state-layer-color: var(--mat-sys-tertiary),
        unselected-pressed-state-layer-color: var(--mat-sys-tertiary),
    ));
    @include mat.icon-button-overrides((
        state-layer-color: var(--mat-sys-tertiary),
    ));
    @include mat.tabs-overrides((
        background-color: var(white),
    ));
}

body {
    margin: 0;
    overflow: hidden;
}
